{% extends 'base.html' %}


{% block content %}
<div class="card mt-3">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="card-title m-0"><h5><i class="fa-solid fa-graduation-cap"></i> Student List</h5></div>
        </div>
    </div>
    <div class="card-body">
        <table id="student-table" class="table table-hover">
          <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Birthday</th>
                <th scope="col">Weight</th>
                <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.birth_of_date }}</td>
                    <td>{{ student.weight }}</td>
                    <td class="dropdown-cell">
                        <i class="fa-solid fa-ellipsis-vertical dropdown-toggle"></i>
                        <div class="dropdown-menu">
                            <a href="/first_app/student_detail/{{ student.id }}"><i class="fa-solid fa-circle-info"></i> Detail</a>
                            <a href="/first_app/student_update/{{ student.id }}"><i class="fa-solid fa-pen-to-square"></i> Update</a>
                            <button type="button" class="btn" data-bs-toggle="modal" data-student-id="{{ student.id }}" data-student-name="{{ student.name }}" data-bs-target="#deleteModal">
                              <i class="fa-solid fa-trash"></i> Delete
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              Do you want to delete <span id="studentNamePlaceholder"></span>
              </br> This action can not be undone.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button id="confirmDeleteBtn" class="btn btn-danger">Yes, delete</button>

          </div>
        </div>
      </div>
    </div>
{% endblock %}
