{% extends 'base.html' %}


{% block content %}
<div class="card mt-3">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="card-title m-0"><h5><i class="fa-solid fa-book"></i> Subject List</h5></div>
        </div>
    </div>
    <div class="card-body">
        <table id="student-table" class="table table-hover">
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col" style="max-width: 5rem;">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for subject in subjects %}
                <tr>
                    <td>{{ subject.id }}</td>
                    <td>{{ subject.subject_name }}</td>
                    <td class="dropdown-cell">
                        <i class="fa-solid fa-ellipsis-vertical dropdown-toggle"></i>
                        <div class="dropdown-menu">
                            <a href="/first_app/subject_detail/{{ subject.id }}"><i class="fa-solid fa-circle-info"></i> Detail</a>
                            <a href="/first_app/subject_update/{{ subject.id }}"><i class="fa-solid fa-pen-to-square"></i> Update</a>
                            <button type="button" class="btn" data-bs-toggle="modal" data-subject-id="{{ subject.id }}" data-subject-name="{{ subject.subject_name }}" data-bs-target="#deleteModal">
                              <i class="fa-solid fa-trash"></i> Delete
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              Do you want to delete <span id="subjectNamePlaceholder"></span>
              </br> This action can not be undone.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button id="confirmDeleteBtn" class="btn btn-danger">Yes, delete</button>

          </div>
        </div>
      </div>
    </div>

<script>
    $(document).ready(function() {
        var deleteUrl;

        $('#deleteModal').on('show.bs.modal', function(event) {
            var link = $(event.relatedTarget);
            var subjectId = link.data('subject-id');
            deleteUrl = '/first_app/subject_delete/' + subjectId;

            var subjectName = link.data('subject-name');

            $('#subjectNamePlaceholder').text(subjectName);
        });

    $('#confirmDeleteBtn').click(function() {
        if (deleteUrl) {

            $.ajax({
                url: deleteUrl,
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                    $('#deleteModal').modal('hide');

                    swal({
                      title: "Success!",
                      text: "Subject deleted successfully!",
                      icon: "success",
                      button: "OK",
                    })
                    .then((willDelete) => {
                      if (willDelete) {
                        location.reload();
                      }
                    });

                },
                error: function(xhr, textStatus, errorThrown) {
                    // Handle errors
                    swal({
                      title: "Ooops...!",
                      text: "Error: " + errorThrown,
                      icon: "success",
                    })
                }
            });
        }
    });
});
</script>

{% endblock %}
